<md-toolbar color="primary">
    <button md-button class="menu-item" [routerLink]="['/home']">
        <md-icon class="menu-subicon">assessment</md-icon>Api scanner
    </button>
    <span class="menu-spacer"></span>
    <button md-button class="menu-item" [mdMenuTriggerFor]="menuAccount">
        <md-icon class="menu-subicon">account_box</md-icon>Account
    </button>
    <md-menu #menuAccount="mdMenu">
        <button md-menu-item>Login</button>
        <button md-menu-item>Register</button>
    </md-menu>
</md-toolbar>