<mat-toolbar color="primary" class="menu-toolbar" [class.shadow-menu]="pageHeader">
    <mat-toolbar-row>
        <a mat-button class="menu-item" [routerLink]="['/']">
            <mat-icon class="menu-subicon">assessment</mat-icon>Api scanner
        </a>

        <button *ngIf="loggedIn" mat-button class="menu-item" [matMenuTriggerFor]="menuApi">{{ 'Api' | translate }}</button>
        <mat-menu #menuApi="matMenu">
            <a mat-menu-item [routerLink]="['/apis/list']">{{ 'ListApis' | translate }}</a>
            <a mat-menu-item [routerLink]="['/apis/create']">{{ 'CreateApiNew' | translate }}</a>
        </mat-menu>

        <button *ngIf="loggedIn" mat-button class="menu-item" [matMenuTriggerFor]="menuWidget">{{ 'Widget' | translate }}</button>
        <mat-menu #menuWidget="matMenu">
            <a mat-menu-item [routerLink]="['/widgets/list']">{{ 'ListWidgets' | translate }}</a>
            <a mat-menu-item [routerLink]="['/widgets/create']">{{ 'CreateWidgetNew' | translate }}</a>
        </mat-menu>

        <button *ngIf="loggedIn && account.isAdmin" mat-button class="menu-item" [matMenuTriggerFor]="menuAdmin">{{ 'Admin' | translate }}</button>
        <mat-menu #menuAdmin="matMenu">
            <a mat-menu-item [routerLink]="['/admin/configuration']">{{ 'ConfigurationList' | translate }}</a>
        </mat-menu>

        <span class="menu-spacer"></span>

        <button mat-button class="menu-item" [matMenuTriggerFor]="menuAccount">
            <mat-icon class="menu-subicon">account_box</mat-icon>{{ account ? account.userName : 'Account' }}
        </button>
        <mat-menu #menuAccount="matMenu">
            <a *ngIf="!loggedIn" mat-menu-item [routerLink]="['/login']">{{ 'Login' | translate }}</a>
            <a *ngIf="!loggedIn" mat-menu-item [routerLink]="['/register']">{{ 'Register' | translate }}</a>
            <button *ngIf="loggedIn && !account.windowsLogin" mat-menu-item (click)="logout()">{{ 'Logout' | translate }}</button>
        </mat-menu>
        <button *ngIf="myLanguage" mat-button class="menu-item" [matMenuTriggerFor]="menuLanguage">
            <mat-icon class="menu-subicon">language</mat-icon>{{ 'Lang_' + myLanguage | translate }}
        </button>
        <mat-menu #menuLanguage="matMenu">
            <button mat-menu-item (click)="switchLanguage('en')">{{ 'Lang_en' | translate }}</button>
            <button mat-menu-item (click)="switchLanguage('ro')">{{ 'Lang_ro' | translate }}</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary" class="menu-header" *ngIf="pageHeader">
    <a mat-button class="menu-item" *ngFor="let link of pageHeader.links" [routerLink]="[link.url]">{{ link.name | translate }}</a>
    <span *ngIf="pageHeader.links.length" class="menu-item">&rsaquo;</span>
    <span class="menu-item">{{ pageHeader.pageTitle | translate }}</span>
</mat-toolbar>