.menu-item {
    padding: 0 14px;
    text-transform: uppercase;
}

.menu-icon {
    padding: 0 24px;
}

.menu-subicon {
    margin-right: 5px;
}
    
.menu-spacer {
    flex: 1 1 auto;
}

.menu-toolbar {
    position: relative;
}

.menu-toolbar.mat-toolbar .mat-toolbar-row {
    margin-top: -56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px;
    height: auto;
}

.shadow-menu {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.menu-header {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 30px;
    align-items: center;
}

@media (max-width: 600px) {
    .menu-toolbar.mat-toolbar .mat-toolbar-row {
        margin-top: -51px;
    }
}