<div class="center-form">
    <section>
        <mat-input-container class="item-full-width">
            <input matInput placeholder="{{ 'EmailAddress' | translate }}" type="email" (keyup.enter)="registerAccount()" [(ngModel)]="account.email" required="" autofocus="">
        </mat-input-container>

        <mat-input-container class="item-full-width">
            <input matInput placeholder="{{ 'Password' | translate }}" type="password" (keyup.enter)="registerAccount()" [(ngModel)]="account.password" class="form-control" required="">
        </mat-input-container>
        <mat-input-container class="item-full-width">
            <input matInput placeholder="{{ 'PasswordRepeat' | translate }}" type="password" (keyup.enter)="registerAccount()" [(ngModel)]="account.passwordRepeat" class="form-control" required="">
        </mat-input-container>
    </section>

    <section class="form-group">
        <mat-checkbox [(ngModel)]="account.subscribe">{{ 'SubscribeNews' | translate }}</mat-checkbox>
    </section>

    <section>
        <button mat-raised-button color="primary" [disabled]="registering" (click)="registerAccount()">{{ 'Register' | translate }}</button>
    </section>    
</div>