.notification-panel {
    display: inline-block;
    margin: 0px auto;
    position: fixed;
    transition: all 0.5s ease-in-out;
    z-index: 1031;
    top: 60px;
    right: 20px;
    animation-iteration-count: 1;
}

.notification-panel span {
    white-space: pre-wrap;
    display: inline-block;
}